doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/script.js')